<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2018 Cloud-Star, Inc. All Rights Reserved.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <context:property-placeholder order="1" ignore-unresolvable="true"
                                  location="classpath:mq.properties"/>

    <!--配置connection-factory，指定连接rabbit server参数-->
    <rabbit:connection-factory id="connectionFactory" username="${mq-user}"
                               password="${mq-password}"
                               host="${mq-server}"
                               port="${mq-port}"
                               virtual-host="/"/>

    <!--通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成-->
    <rabbit:admin connection-factory="connectionFactory"/>

    <!--如果只是发送消息下面一句话都可以-->
    <!--<rabbit:template id="scheduleAmqpTemplate" message-converter="jackson2JsonMessageConverter"
        connection-factory="connectionFactory" exchange="schedule_exchange"
        retry-template="retryTemplate" reply-timeout="15000"/>-->

    <!-- 注意：1先初始化交换机  2初始化队列  3队列上绑定Routing key和交换机 -->
    <rabbit:queue id="receiveschedule.syncenv.queue" name="receiveschedule.syncenv.queue"/>
    <rabbit:queue id="to.schedule.queue" name="to.schedule.queue"/>

    <rabbit:topic-exchange name="schedule_exchange">
        <rabbit:bindings>
            <rabbit:binding queue="to.schedule.queue" pattern="op.*"/>
            <rabbit:binding queue="receiveschedule.syncenv.queue" pattern="syncenv.*"/>
        </rabbit:bindings>
    </rabbit:topic-exchange>
    <rabbit:template id="scheduleAmqpTemplate" message-converter="jackson2JsonMessageConverter"
        connection-factory="connectionFactory" exchange="schedule_exchange"
        retry-template="retryTemplate" reply-timeout="15000"/>

    <rabbit:listener-container max-concurrency="10" concurrency="2"
        connection-factory="connectionFactory"
        message-converter="jackson2JsonMessageConverter">
        <rabbit:listener queues="receiveschedule.syncenv.queue" ref="syncEvnCallbackListener" method="listen"/>
        <rabbit:listener queues="to.schedule.queue" ref="scheduleReceiveSyncEnvListener" method="listen"/>
    </rabbit:listener-container>






    <!-- 公用 -->
    <!--设置重试策略-->
    <bean id="retryTemplate" class="org.springframework.retry.support.RetryTemplate">
        <property name="backOffPolicy">
            <bean class="org.springframework.retry.backoff.ExponentialBackOffPolicy">
                <property name="initialInterval" value="5000"/>
                <property name="maxInterval" value="120000"/>
                <property name="multiplier" value="2"/>
            </bean>
        </property>
        <property name="retryPolicy">
            <bean class="org.springframework.retry.policy.SimpleRetryPolicy">
                <property name="maxAttempts" value="2"/>
            </bean>
        </property>
    </bean>

    <bean id="jackson2JsonMessageConverter" class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"/>

</beans>
