<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.cloudstar.rightcloud.system.dao.service.ServiceOrderDetailMapper" >
  <resultMap id="BaseResultMap" type="cn.com.cloudstar.rightcloud.system.entity.act.ServiceOrderDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_id" property="orderId" jdbcType="BIGINT" />
    <result column="charge_type" property="chargeType" jdbcType="VARCHAR" />
    <result column="service_id" property="serviceId" jdbcType="BIGINT" />
    <result column="service_type" property="serviceType" jdbcType="VARCHAR" />
    <result column="service_attr" property="serviceAttr" jdbcType="VARCHAR" />
    <result column="service_config" property="serviceConfig" jdbcType="VARCHAR" />
    <result column="org_sid" property="orgSid" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="duration" property="duration" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="service_instance_id" property="serviceInstanceId" jdbcType="BIGINT" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="cloud_env_type" property="version" jdbcType="VARCHAR" />
    <result column="cluster_id" property="clusterId" jdbcType="INTEGER" />
    <result column="CODE_DISPLAY" property="serviceName" jdbcType="VARCHAR" />
  </resultMap>



  <sql id="Example_Where_Clause" >
    <trim prefix="where" prefixOverrides="and|or" >
      <if test="condition.orderId != null" >
        and order_id = #{condition.orderId}
      </if>
      <if test="condition.chargeType != null" >
        and charge_type = #{condition.chargeType}
      </if>
      <if test="condition.serviceId != null" >
        and service_id = #{condition.serviceId}
      </if>
      <if test="condition.serviceType != null" >
        and service_type = #{condition.serviceType}
      </if>
      <if test="condition.orgSid != null" >
        and org_sid = #{condition.orgSid}
      </if>
      <if test="condition.status != null" >
        and status = #{condition.status}
      </if>
      <if test="condition.quantity != null" >
        and quantity = #{condition.quantity}
      </if>
      <if test="condition.duration != null" >
        and duration = #{condition.duration}
      </if>
      <if test="condition.price != null" >
        and price = #{condition.price}
      </if>
      <if test="condition.amount != null" >
        and amount = #{condition.amount}
      </if>
      <if test="condition.serviceInstanceId != null" >
        and service_instance_id = #{condition.serviceInstanceId}
      </if>
      <if test="condition.endTime != null" >
        and end_time = #{condition.endTime}
      </if>
      <if test="condition.version != null" >
        and version = #{condition.version}
      </if>
      <if test="condition.serviceAttr != null" >
        and service_attr = #{condition.serviceAttr}
      </if>
      <if test="condition.serviceConfig != null" >
        and service_config = #{condition.serviceConfig}
      </if>
      <if test="condition.clusterId != null" >
        and cluster_id = #{condition.clusterId}
      </if>
    </trim>
  </sql>

  <sql id="Base_Column_List" >
    A.id, A.order_id, A.charge_type, A.service_id, A.service_type, A.service_attr, A.service_config, A.org_sid, A.status,
    A.quantity, A.duration, A.price, A.amount, A.service_instance_id, A.end_time, A.version, A.cluster_id, A.original_cost,
    A.discount
  </sql>



  <select id="selectByParams" resultMap="BaseResultMap" parameterType="cn.com.cloudstar.rightcloud.framework.common.pojo.Criteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,B.CODE_DISPLAY
    from service_order_detail A
    left JOIN  sys_m_code B on B.CODE_CATEGORY='SERVICE_COMPONENT' and B.CODE_VALUE=A.service_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="common.Mysql_Pagination_Limit" />
  </select>


  <insert id="insertSelective" parameterType="cn.com.cloudstar.rightcloud.system.entity.act.ServiceOrderDetail" >
    insert into service_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="chargeType != null" >
        charge_type,
      </if>
      <if test="serviceId != null" >
        service_id,
      </if>
      <if test="serviceType != null" >
        service_type,
      </if>
      <if test="orgSid != null" >
        org_sid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="serviceInstanceId != null" >
        service_instance_id,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="serviceAttr != null" >
        service_attr,
      </if>
      <if test="serviceConfig != null" >
        service_config,
      </if>
      <if test="clusterId != null" >
        cluster_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="orderId != null" >
        #{orderId},
      </if>
      <if test="chargeType != null" >
        #{chargeType},
      </if>
      <if test="serviceId != null" >
        #{serviceId},
      </if>
      <if test="serviceType != null" >
        #{serviceType},
      </if>
      <if test="orgSid != null" >
        #{orgSid},
      </if>
      <if test="status != null" >
        #{status},
      </if>
      <if test="quantity != null" >
        #{quantity},
      </if>
      <if test="duration != null" >
        #{duration},
      </if>
      <if test="price != null" >
        #{price},
      </if>
      <if test="amount != null" >
        #{amount},
      </if>
      <if test="serviceInstanceId != null" >
        #{serviceInstanceId},
      </if>
      <if test="endTime != null" >
        #{endTime},
      </if>
      <if test="version != null" >
        #{version},
      </if>
      <if test="serviceAttr != null" >
        #{serviceAttr},
      </if>
      <if test="serviceConfig != null" >
        #{serviceConfig},
      </if>
      <if test="clusterId != null" >
        #{clusterId},
      </if>
    </trim>
  </insert>


</mapper>